<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
  <script>
    function checkPasswordMatch() {
      var password = document.getElementById("newPassword");
      var confirmPassword = document.getElementById("confirmPassword");
      var submitButton = document.getElementById("submit");

      if (password.value !== "" && password.value === confirmPassword.value) {
        confirmPassword.setCustomValidity('');
        submitButton.disabled = false;
      } else {
        confirmPassword.setCustomValidity('비밀번호가 일치하지 않습니다.');
        submitButton.disabled = true;
      }
    }
  </script>
</head>
<body>
<form th:action="@{/member/change-password}" method="post" oninput="checkPasswordMatch()">
  <input type="hidden" name="username" th:value="${username}">
  <label for="newPassword">새 비밀번호 입력 : </label>
  <input type="password" name="newPassword" id="newPassword" required>
  <br>
  <label for="confirmPassword">비밀번호 확인 : </label>
  <input type="password" name="confirmPassword" id="confirmPassword" required>
  <br>
  <button type="submit" id="submit" disabled>변경</button>
</form>
</body>
</html>
