<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
</head>
<body>
<form th:action="@{/login/search/password}" method="post">
  <label for="username">아이디: </label>
  <input type="text" name="username" required>
  <br>
  <label for="userEmail">이메일: </label>
  <input type="email" name="userEmail" required>
  <p th:if="${errorMessage != null}" th:text="${errorMessage}" style="color:red"></p>
  <button type="submit">비밀번호 찾기</button>
</form>
</body>
</html>
