<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<!-- action속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form th:action="@{/member/join}" method="post">
    <!-- name속성: 서버로 전송할 때 변수이름의 역할 -->
    <label>아이디</label>
    <input type="text" name="memberId" id="memberId" onblur="idCheck()"> <br>
    <p id="id-check-result"></p>
    <label>이메일</label>
    <input type="email" name="memberEmail" id="memberEmail" onblur="emailCheck()"> <br>
    <p id="email-check-result"></p>
    <label>비밀번호</label>
    <input type="password" name="memberPassword"> <br>
    <label>이름</label>
    <input type="text" name="memberName"> <br>
    <input type="submit" value="회원가입">
</form>
</body>

<script th:inline="javascript">
    const emailCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const emailCheckResult = document.getElementById("email-check-result");

        $.ajax({
            type: "post",
            url: "/member/email-check",
            data: { "memberEmail": email },
            success: function(res) {
                if (email === '') {
                    emailCheckResult.style.color = "red";
                    emailCheckResult.innerHTML = "이메일을 입력해주세요";
                } else if (res === "ok") {
                    emailCheckResult.style.color = "green";
                    emailCheckResult.innerHTML = "사용 가능한 이메일";
                } else {
                    emailCheckResult.style.color = "red";
                    emailCheckResult.innerHTML = "이미 사용 중인 이메일";
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
</script>
<script th:inline="javascript">
    const idCheck = () => {
        const memberId = document.getElementById("memberId").value;
        const idCheckResult = document.getElementById("id-check-result");

        $.ajax({
            type: "post",
            url: "/member/id-check",
            data: { "memberId": memberId },
            success: function(res) {
                if (memberId === '') {
                    idCheckResult.style.color = "red";
                    idCheckResult.innerHTML = "아이디를 입력해주세요";
                } else if (res === "ok") {
                    idCheckResult.style.color = "green";
                    idCheckResult.innerHTML = "사용 가능한 아이디";
                } else {
                    idCheckResult.style.color = "red";
                    idCheckResult.innerHTML = "이미 사용 중인 아이디";
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
</script>
</html>
