<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
</head>
<body>
    <button onclick="requestPay()">결제하기</button>
    <script>
        function requestPay() {
        IMP.init('imp28240265');
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: "kakaopay.TC0ONETIME",
            pay_method: "card",
            merchant_uid: 'cart_' + new Date().getTime(),
            name: "고양 스테이 월 호텔",
            amount: 45000,
            buyer_email: "leekjgo21@naver.com",
            buyer_name: "이건주",

        }, function (rsp) { // callback
            /** 결제 검증 **/
            console.log("검증 로직 탑니다");
            console.log(rsp);
            $.ajax({
                type: 'POST',
                url: '/payment',
                data: {
                    name: rsp.name,
                    amount: rsp.paid_amount
                }
            }).done(function(result){
                // 위의 payment 요청에서 받은 결과값이 result에 저장 true or false
                if(result){
                    alert("결제가 완료되었습니다.");
                    $.ajax({
                        type:'POST',
                        url:'/payment/success',
                        data: {
                            username:rsp.buyer_name,
                            pdname: rsp.name,
                            amount: rsp.paid_amount
                        }
                    })//.done(function() {
                      //  window.location.reload();
                    //})
                    .fail(function(error){
                        alert(JSON.stringify(error));
                    })
                } else{
                    alert("결제에 실패했습니다."+"에러코드 : "+rsp.error_code+"에러 메시지 : "+rsp.error_message);

                }
            })
        })
    }
    </script>
</body>
</html>